services:
  backend:
    build: ./backend
    container_name: neoway-backend
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true