@import './variables.scss';

.btn-primary {
  background-color: $primary;
  color: $white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s;
  height: 40px;
  padding: 0 16px;

  &:hover:not(:disabled) {
    background-color: $primary-hover;
  }

  &:disabled {
    background-color: $primary-disabled;
    cursor: not-allowed;
  }
}

.btn-big {
  height: 56px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.subtitle {
  color: #666;
  font-size: 14px;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .container {
    width: calc(100% - 40px);
  }
}

@media (max-width: 1010px) {
  .grow-on-mobile {
    width: 100%;
  }
}